(Unpacked) CanvasApps/new_m365servicerequestcenter_afdf0_DocumentUri/pkgs/Wadl/Sendallrequests%28visible%29toSelf.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Sendallrequests(visible)toSelf" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Send all requests (visible) to Self" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__To_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Subject_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29__Content_def" />
      <string name="ManualTriggerInput_SwitchRecordType_On_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29_2_Content_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29_3_Content_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29_4_Content_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29_5_Content_def" />
      <string name="ManualTriggerInput_ParseJSON_ux28_RequestCollection_ux29_6_Content_def" />
      <object name="ManualTriggerInput">
        <property name="Sendanemail(V2)_To" type="string" />
        <property name="Sendanemail(V2)_Subject" type="string" />
        <property name="Sendanemail(V2)_Body" type="string" />
        <property name="ParseJSON(RequestCollection)_Content" type="string" />
        <property name="SwitchRecordType_On" type="string" />
        <property name="ParseJSON(RequestCollection)2_Content" type="string" />
        <property name="ParseJSON(RequestCollection)3_Content" type="string" />
        <property name="ParseJSON(RequestCollection)4_Content" type="string" />
        <property name="ParseJSON(RequestCollection)5_Content" type="string" />
        <property name="ParseJSON(RequestCollection)6_Content" type="string" />
      </object>
      <string name="ResponseActionOutput_success_def" />
      <object name="ResponseActionOutput">
        <property name="success" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Sendanemail(V2)_To" path="/Sendanemail(V2)_To" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Subject" path="/Sendanemail(V2)_Subject" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body" path="/Sendanemail(V2)_Body" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)_Content" path="/ParseJSON(RequestCollection)_Content" type="xs:string" required="true" />
            <param style="plain" name="SwitchRecordType_On" path="/SwitchRecordType_On" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)2_Content" path="/ParseJSON(RequestCollection)2_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)3_Content" path="/ParseJSON(RequestCollection)3_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)4_Content" path="/ParseJSON(RequestCollection)4_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)5_Content" path="/ParseJSON(RequestCollection)5_Content" type="xs:string" required="true" />
            <param style="plain" name="ParseJSON(RequestCollection)6_Content" path="/ParseJSON(RequestCollection)6_Content" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>